$white: #FFF; 
$black: #000;
$dark-50: #282c2f;
$dark-100: #222629;
$dark-150: #1c1f22;
$dark-200: #181c1f;
$grey: #edf1f2;
$grey-50: #aeaeae;
$grey-100: #3d464d; 
$green: #9de482;
$buttonColor: #32a7e5;
